<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.0.1-preview134" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.0.0-preview234" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Devices.Gpio" version="1.0.0-preview226" targetFramework="netnanoframework10" />
  <package id="NuProj" version="0.20.4-beta" developmentDependency="true" />
  <package id="NuProj.Common" version="0.20.4-beta" developmentDependency="true" />
</packages>